@charset "UTF-8";

body{
    background-color: #23282f;
    color: white;
}

.clickerw-main{
    border: solid;
    border-color: white;
}
.clickerw-top{
    background-color: #4fc3f7;
    color: black;
}
.clickerw-bottom{
    background-color: #4fc3f7;
    color: black;
}

.clickerw-darkswitch{
    color: black;
}

.skill-menu{
    background-color: #23282f;
    border: solid;
    border-color: white;
    border-width: 1px;
    color: white;
}