@charset "UTF-8";
html{
    width: 100%;
    line-height: 1.15;
    height: 100%;
}
body{
   width: 100%;
   
}
.clicker-space{
    width: 100%;
    height: 100%;
    display: flex;
}
.clicker-ueSpace{
    width: 100%;
    height: auto;
    padding-left: 3px;
    padding-top: 3px;
    padding-right: 3px;
    font-size: 16px;
    background-color: #333333;
    color: white;
    box-sizing: border-box;
}

.click-space{
    width: 340px;
    height: calc(100% - 24px);
    height: -webkit-calc(100% - 24px);
    border: black;
    border: 1px solid;
    box-sizing: border-box;
    background-image: url(../img/haikei.jpg);
    background-size: cover;
    text-align: center;
    position: absolute;
    left: 0px;
    
}
.clickSpace-sirokuma{
    border-radius: 50%;
    object-fit: cover;
    width: 85%;
    margin-top: 10%;
}
.clickSpace-sirokuma:active{
    border-radius: 50%;
    object-fit: cover;
    width: 83%;
    margin-top: 11%;
    margin-left: 1%;
    margin-bottom: 1%;
}
.clickSpace-hyoujisirokuma{
    margin-top: 3% ;
    text-shadow: 1px 0 5px #FFF;
}
.clicker-centerSpace{
height: calc(100% - 24px);
width: calc(100% - 340px - 340px);
border: 1px solid;
box-sizing: border-box;
position: absolute;
left: 340px;

}
.clicker-centerUeSoace{
    height: 15%;
    width: 100%;
    border: solid;
    border-width: 1px;
}
.center-container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "grid1 center center grid4"
      "grid5 center center grid8";
    width: 100%;
    height: 100%;
    
  }
.grid1 { grid-area: grid1; }
  
.grid4 { grid-area: grid4; }
  
.grid5 { grid-area: grid5; }
  
.grid8 { grid-area: grid8; }
  
.center { grid-area: center; }
  
.center-button{
    background: linear-gradient(#0D0 0%, #008100 50%, #005B00 51%, #003900 100%);
    border: solid 1px #003900;
    box-shadow: 0 1px 2px #606060, 0 0 2px #FFF inset;
    text-shadow: 3px 0 3px #003900, 0 3px 3px #003900, -3px 0 3px #003900, 0 -3px 3px #003900;
    box-sizing: border-box;
    font-size: 2vh;
    position: relative;
}
.center-moji{
    background: #005B00;
    border: solid 1px #000039;
    box-shadow: 0 1px 2px #606060, 0 0 2px #FFF inset;
    text-shadow: 3px 0 3px #003900, 0 3px 3px #003900, -3px 0 3px #003900, 0 -3px 3px #003900;
    box-sizing: border-box;
    font-size: 2vh;
    position: relative;
}
.center-buttonMoji







































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































{

}

.clicker-upgradeSpace{
    height: calc(100% - 24px);
    height: -webkit-calc(100% - 24px);
    width: 340px;
    border: 1px solid;
  
    box-sizing: border-box;
    position: absolute;
    right: 0px;

}
.clicker-ueUpgradeSpace{
    height: 24px;
    padding: 2px;
    padding-right: 0px;
    width: 100%;
    background-color: blanchedalmond;
  
    box-sizing: border-box;
    border: solid 1px;



}
.clicker-uogradeBuy{
    height: 204px;
    width: 100%;
    border: solid;
    border-right: 0px;
    border-bottom: 1px;
    border-left: 1px;
    border-top: 1px;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    width: 100%;
    height: 100%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "grid1 grid2 grid3 grid4 grid5"
      "grid6 grid7 grid8 grid9 grid10"
      "grid11 grid12 grid13 grid14 grid15";
  }
.grid1{
    grid-area: grid1;
}
.grid2{
    grid-area: grid2;
}
.grid3{
    grid-area: grid3;
}
.grid4{
    grid-area: grid4;
}
.grid5{
    grid-area: grid5;
}
.grid6{
    grid-area: grid6;
}
.grid7{
    grid-area: grid7;
}
.grid8{
    grid-area: grid8;
}
.grid9{
    grid-area: grid9;
}
.grid10{
    grid-area: grid10;
}
.grid11{
    grid-area: grid11;
}
.grid12{
    grid-area: grid12;
}
.grid13{
    grid-area: grid13;
}
.grid14{
    grid-area: grid14;
}
.grid15{
    grid-area: grid15;
}
.grid-settei{
   
    border: 1px solid;
    border-top: 0px;
    border-right: 0px;
    box-sizing: border-box;
    position: relative;
}
.upgrade-icon{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 55px;
    
}
.upgrade-iconGold{
   
    font-size: 55px;
    line-height: 10px;
    font-weight:bold;
    color: transparent;
    background: linear-gradient(0deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%); 
    -webkit-background-clip: text;
    
}
.item-buyUeSpace{
    border: solid 1px;
    box-sizing: border-box;
    padding-left: 2px;
    padding-top: 2px;
    height: 24px;
    background-color: antiquewhite;
}
.item-buySpace{
    height: calc(100% - 252px);
    width: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
}
.item-buyHyoujiSpace{
    width: 100%;
    height: 65px;
   border-top: solid 1px;
   border-right: solid 1px;
    box-sizing: border-box;
    cursor: pointer;
    position:relative;  
    background-image: url(../img/item-haikei.jpeg);
}
.item-buy{
    top:50%;
    -webkit-transform: translateY(-50%);
    position: absolute;
    display: flex;
}

.item-buyHyouji{
    font-size: x-large;
    margin-top: 4px;
}
.item-buyHyoujiNedan{
    font-size: small;
}
.item-syojisuu{
    top:50%;
    transform:translateY(-50%);
    position: absolute;
    font-size: small;
    text-align: left;
    right: 2px;
}