@charset "UTF-8";

body{
    width: 900px;
    margin: auto;
}

.center{
    text-align: center;
}

.clickerw-main{
    width: 900px;
    height: 600px;
    border: solid;
    border-color: black;
    position: relative;
}
.clickerw-top{
    width: 900px;
    height: auto;
    padding: 5px 0 5px 0;
    background-color: #4fc3f7;
    position: absolute;
}
.clickerw-bottom{
    width: 900px;
    height: auto;
    background-color: #4fc3f7;
    bottom: 0px;
    position: absolute;
}
.clickerw-body{
    top: 45.56px;
    position: absolute;
}
.clickerw-clickpicture{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    pointer-events: none;
    user-select: none;
}
.clickerw-picturebox{
    top: 70px;
    left: 50px;
    position: absolute;

}
.clickerw-picturebox:active{
    object-fit: cover;
    top: 75px;
    left: 55px;
    position: absolute;
}

.clickerw-hyouji{
    top: 80px;
    left: 300px;
    position: absolute;
}


.clickerw-skill{
    top: 340px;
    left: 320px;
    position: absolute;
}

.skill-menu{
    width: auto;
    height: auto;
    font-size: small;
}

.sisetu-menu{
    width: auto;
    height: auto;
    font-size: small;
}

.clickerw-sisetu{
    top: 340px;
    position: absolute;
    left: 590px;
}

.clickerw-darkswitch{
    top: 15px;
    right: 10px;
    position: absolute;
}

.header-title{
    margin-top: 15px;
}

.clickerw-save{
    top: 12px;
    right: 225px;
    position: absolute;
}